:root{
    --color-primary: #5C51A6;
    --color-secondary: #D996BB;
    --color-text-primary: #7F75BF;
    --white: #F2F2F2; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}

header{
    width: 100%;
    height: 60px;
    background-color: var(--white);
}

main{
    width: 100%;
    height: auto;
}

/* .main-frontpage{
    width: 100%;
    height: auto;
} */

.main-frontpage-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-auto-rows: 50px;
    width: 100%;
}

.frontpage-container__item1{
    background-color: var(--color-primary);
    grid-area: 5/1/12/9;
}

.frontpage-container__item2{
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-area: 2/2/7/8;
}

/* .frontpage-container__item2 img{

} */

.frontpage-container__item3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    grid-area: 6/3/11/7;
}

.frontpage-container__item3 h1{
    color: var(--color-text-primary);
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.2;
    
}

.content-principal__information{
    display: flex;
    flex-direction: column;
}

.content-principal__information h2{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: start;
    color: var(--color-text-primary);
    margin-block-start: 50px;
    padding-inline-start: 30px;
}

.content-principal__information p{
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-block-start: 20px;
    padding-inline-start: 50px;
    color: #757575;
}

.main-container{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 50px;
}

.main-container__item1{
    background-color: var(--color-primary);
    grid-area: 1/1/8/9;
}



/* .main-container__item2{
    background-image: url(../img/section2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-area: 8/2/15/8;
} */

.main-container__item2 img{
    /* width: 400px;
    height: 400px;
    object-fit: cover; */
}