:root{
    --color-primary: #5C51A6;
    --color-secondary: #D996BB;
    --color-text-primary: #7F75BF;
    --white: #F2F2F2; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--white);
    padding: 0 10px;
}

.header-icon

main{
    width: 100%;
    height: auto;
}


.main-frontpage-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-auto-rows: 50px;
    width: 100%;
}

.frontpage-container__item1{
    background-color: var(--color-primary);
    grid-area: 5/1/12/9;
}

.frontpage-container__item2{
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: 2/2/7/8;
}


.frontpage-container__item3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    grid-area: 6/3/11/7;
}

.frontpage-container__item3 h1{
    color: var(--color-text-primary);
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.2;
    
}

.content-principal__information{
    display: flex;
    flex-direction: column;
}

.content-principal__information h2{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: start;
    color: var(--color-text-primary);
    margin-block-start: 50px;
    padding-inline-start: 30px;
}

.content-principal__information p{
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-block-start: 20px;
    padding-inline-start: 50px;
    margin-block-end: 50px;
    color: #757575;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-auto-rows: 50px;
    row-gap: 10px
}

.main-container__item1{
    background-color: var(--color-primary);
    color: white;
    grid-area: 1/1/7/9;
}

.main-container__item1 h3{
    position: relative;
    text-align: start;
    font-size: 2.4rem;
    line-height: 2.7rem;
    margin: 40px 20px ;
}

.main-container__item1 h3::after{
    content: '';
    width: 9.0rem;
    height: 8px;
    background-color: var(--color-text-primary);
    position: absolute;
    bottom: -2rem;
    left: 15%;
    transform: translate(-50%, 50%);
}

.main-container__item1 p{
    text-align: start;
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin: 20px;
}

.main-container__item2{
    background-image: url(../img/section2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-area: 7/2/15/8;
}

.main-container__item3{
    align-self: center;
    font-size: 1.8rem;
    color: var(--color-text-primary);
    font-weight: 300;
    grid-area: 15/2/17/8; 
}

.main-container__item4{
    background-image: url(../img/section3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-area: 17/1/25/9;
}

.main-container__item5 {
    grid-area: 25/1/28/9;
}

.main-container__item5 h3{
    position: relative;
    font-size: 2.4rem;
    font-weight: 100;
    color: var(--color-primary);
    margin: 10px;
}

.main-container__item5 h3::after{
    content: '';
    width: 9.0rem;
    height: 8px;
    background-color: var(--color-text-primary);
    position: absolute;
    bottom: -2rem;
    left: 15%;
    transform: translate(-50%, 50%);
}

.main-container__item5 p{
    text-align: start;
    font-size: 1.8rem;
    padding: 30px 10px 10px;
}

.main-new-emotions{
    width: 100%;
    margin: 20px 0;
}

.container-new-emotions{
    display: grid;
    grid-template-columns: repeat(12, minmax(40px, 1fr));
    grid-auto-rows: 50px;
}

.container-new-emotions__item1{
    background-color: var(--color-primary);
    grid-area: 1/2/4/6;
    border-radius: 100%;
}

.container-new-emotions__item2{
    background-image: url('../img/circule2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: 3/2/9/9;
    border-radius: 100%;
}

.container-new-emotions__item3{
    color: white;
    background-color: var(--color-secondary);
    grid-area: 10/2/20/9;
    padding: 25px 15px;
}

.container-new-emotions__item3 h3 {
    font-size: 2.4rem;
    line-height: 2.8rem;

}

.container-new-emotions__item3 p{
    font-size: 1.8rem;
    line-height: 2.0rem;
    text-align: justify;
    padding-top: 15px;
}

.container-new-emotions__item3 button{
    background-color: white;
    color: var(--color-secondary);
    font-weight: bold;
    width: 180px;
    height: 40px;
    border-style: none;
    margin: 40px 10px 15px;
    cursor: pointer;
}

.container-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-auto-rows: 50px;
}

.container-gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 25%; */
}

.container-gallery__item1{
    grid-area: 1/1/6/8;
}
.container-gallery__item2{
    grid-area: 6/1/11/8;
    background-color: var(--color-secondary);
    color: white;
    padding: 20px;
}

.container-gallery__item2 p{
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.container-icons-socialmedia{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.container-icons-socialmedia i{
    font-size: 2.0rem;
    font-weight: 500;
}

.container-gallery__item3 {
    grid-area: 11/1/16/8;
}

.container-gallery__item4{
    grid-area: 16/1/22/8;
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.container-gallery__item4 h3{
    font-size: 3.0rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3.0rem;
}

.container-gallery__item4 p{
    font-size: 5.0rem;
    font-weight: 500;
    line-height: 4.4rem;
    margin-block-start: 20px;
    margin-block-end: 25px;
}

.container-gallery__item4 i{
    font-size: 5.0rem;
}

.container-gallery__item5{
    grid-area: 22/1/28/8;
}

.main-about-us{
    padding: 25px;
}

.main-about-us__title h3:nth-child(1){
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

.main-about-us__title h3:nth-child(2){
    font-size: 2.6rem;
    color: var(--color-text-primary);
    margin-bottom: 25px;
}

.main-about-us__information p{
    font-size: 1.6rem;
    font-weight: 2.2rem;
}

.main-about-us__information button{
    background-color: var(--color-secondary);
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    width: 180px;
    height: 40px;
    border-style: none;
    margin-top: 20px;
    cursor: pointer;
}